apiVersion: v1
kind: ConfigMap
metadata:
  name: eval-factory-job-template
data:
  job.yaml: |
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: placeholder-job-name
      labels:
        app: eval-factory-benchmark
    spec:
      backoffLimit: 0
      ttlSecondsAfterFinished: {{ .Values.evalFactory.job.ttlSecondsAfterFinished }}
      template:
        metadata:
          annotations:        
            sidecar.istio.io/inject: false
            proxy.istio.io/config: |
              holdApplicationUntilProxyStarts: true
        spec:
          serviceAccountName: {{ include "nemo-evaluator.serviceAccountName" . }}
          imagePullSecrets:
            {{ include "nemo-common.imagepullsecrets" . | nindent 12 | trim }}
          restartPolicy: {{ .Values.evalFactory.job.restartPolicy | default "Never" }}
          containers:
          - name: eval-factory-container
            image: placeholder-image:placeholder-tag
            terminationMessagePolicy: FallbackToLogsOnError
            command: placeholder-command
            volumeMounts:
              - name: jobs-storage
                mountPath: /jobs                              
              - name: job-config
                mountPath: /configs
          - name: eval-results-handler-container
            image: {{ include "nemo-common.mainimage" . | quote }}
            command: results-handler-placeholder-command
            env:
              - name: NAMESPACE
                valueFrom:
                  fieldRef:
                    fieldPath: metadata.namespace            
              - name: POD_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: metadata.name
              - name: CONTAINER_NAME
                value: "eval-factory-container"
              - name: DATA_STORE_URL
                value: "{{ .Values.external.dataStore.endpoint }}"
              - name: DATA_STORE_TOKEN
                value: ""
            volumeMounts:
              - mountPath: /jobs
                name: jobs-storage
          volumes:
          - name: jobs-storage
            emptyDir:
              sizeLimit: 10Gi
          - name: job-config
            configMap:
              name: job-config-map-placeholder

